{% for col in cols %}
<div class = "mond-col c{{col}}"></div>
{% endfor %}
{% for row in rows %}
<div class = "mond-row r{{row}}"></div>
{% endfor %}
{% for sqr in sqrs %}
<div class = "mond-sqr sq{{sqr.sqr}}" ng-mouseover="visible{{sqr.sqr}}=true" ng-mouseleave="visible{{sqr.sqr}}=false">
  {% if sqr.sqr == 7 %}
  <p class="mond-mess static">{{sqr.mess}}</p>
  <p class="mond-mess static1">{{sqr.mess1}}</p>
  <p class="mond-mess static2">{{sqr.mess2}}</p>
  {% else %}
  <p class="mond-mess dynamic" id="dmess{{sqr.sqr}}" ng-show="visible{{sqr.sqr}}">{{sqr.mess}}</p>
  {% endif %}
</div>
{% endfor %}
